<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
        <div class="logo">
            <img [src]="logo" alt="logo" width="30px">
            &nbsp;&nbsp;
            <h1>Admin</h1>
        </div>
            <div class="row mr-2 ml-auto">
            <ul class="ms-auto d-flex">
                <li>
                    <button mat-button class="mt-2 align-items-center" routerLink="employees">
                       Employees
                    </button>
                    <button mat-button class="mt-2 align-items-center">
                        <mat-icon>account_circle</mat-icon>
                    </button>
                </li>
            </ul>
        </div> 
    </mat-toolbar-row>
</mat-toolbar>