<div class="container-fluid main-container g-0 p-2 mb-3" *ngFor="let us of readData">
    <div class="row g-0">
        <div class="col-md-2 d-flex justify-content-center align-items-center">
            <img src="../../assets/Images/{{us.aadhar}}" alt="Profile Image" class="profile">
        </div>

        <div class="col content">
            <div class="row g-0">
                <div class="col-md-9 text-center mb-3">
                    <span class="name">{{us.fullname | titlecase}}</span>
                </div>
                <div class="col-md-3 d-flex justify-content-center align-items-center">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-success">Edit</button>
                        <button type="button" class="btn btn-outline-danger" (click)="deleteId(us.id)">Delete</button>
                        <button type="button" class="btn btn-outline-info">Images</button>
                    </div>
                </div>
            </div>
            <div class="row g-0 mt-3">
                <div class="col">
                    <table class="table table-hover mx-auto">
                        <thead class="fs-5 fst-italic text-secondary">
                            <tr>
                                <td >Email</td>
                                <td >Phone</td>
                                <td >Education</td>
                                <td >Designation</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{us.eMail}}</td>
                                <td>{{us.phone}}</td>
                                <td>{{us.education | titlecase}}</td>
                                <td>{{us.designation}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>